.wrapper-user-new{
  color: white;
  h2.new{
    padding-top: 110px;
    text-align: center;
    font-size: 300%;
  }
  form{
    text-align: center;
    .field{
      margin-top: 30px;
      input{
        margin-top: 5px;
        line-height: 30px;
        width: 300px;
      }
    }
    .actions{
      margin-top: 60px;
      input{
        width: 300px;
        height:40px;
        background-color: #03b9d1;
        color: white;
      }
    }
  }
}