.event-detail-option{
  form{
    input{
      width: 100px;
    }
    margin-bottom: 10px;
  }
}


.page-user-name{
  text-align: center;
  font-size: 30px;
  color: white;
}

img {
  border: 3px solid #a4a4a4;
  border-radius: 50%;
  height: 170px;
  width: 170px;
}