.main-page{
  padding: 40px 0;
  .main-page-title{
    margin-top: 50px;
    color: white;
    text-align: center;
    font-size: 20px;
  }
  .main-contents{
    padding-bottom: 20px;
    width: 70%;
    margin: 0 auto;
  }
  .page{
    text-align: center;
    font-style: italic;
    font-size: 25px;
  }
}

.hooter{
  width: 100%;
  background: linear-gradient(#03b9d1,#88e46a);
  text-align: center;
  color: white;
}

body{
  min-height: 100vh;
  background-image: url(aditya-chinchure-ZhQCZjr9fHo-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right bottom;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: ghostwhite;
  }

li{
  list-style: none;
}

.search{
  width: 70%;
  margin: 0 auto;
  padding-top: 120px;
  overflow: scroll;
  form{
    background-color: rgba(3, 185, 185, 0.7);
    height: 90px;
    .search-box{
      float: left;
      box-sizing: border-box;
      margin: 10px;
      padding: 5px;
      height: 35px;
      input{
        width: 350px;
        height: 40px;
        margin: 8px 0 0;
        background-color: #fff;
        border: 1px solid #ccc;
      }
      // select{
      //   width: 70px;
      //   height: 40px;
      //   margin: 8px 0 0;
      //   background-color: #fff;
      //   border: 1px solid #ccc;
      // }
      // #_genre{
      //   width: 100px;
      //   height: 40px;
      //   margin: 8px 0 0;
      //   background-color: #fff;
      //   border: 1px solid #ccc;
      // }
      // #_area{
      //   width: 100px;
      //   height: 40px;
      //   margin: 8px 0 0;
      //   background-color: #fff;
      //   border: 1px solid #ccc;
      // }
    }
    .search-btn{
      float: right;
      box-sizing: border-box;
      margin: 10px;
      padding: 5px;
      height: 35px;
      input{
        width: 180px;
        height: 40px;
        margin: 8px 0 0;
        background-color: #fff;
        border: 1px solid #ccc;
      }
    }
  }
}